

<body class = "soundbaseimage">
<h1 class= "soundbase">SoundBase</h1>
<!-- <h2 class = "welcome">Welcome!</h2> -->
<div>
<h2 class = "signupmaster">
<%= link_to 'Sign Up', new_user_registration_path %>
</h2>
<!-- </div>
<div class="facebooklogin">
<fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();" data-auto-logout-link="true">
</fb:login-button>
<div id="status">
</div> -->
<!-- </div>
<%= link_to 'Token Transfer', facebook_token_path, id: 'token-transfer-link' %>
</div> -->
<div>
<h2 class = "loginmaster">
<%= link_to 'Log In', new_user_session_path %>
</h2>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

<div class = "blurbmaster">
<p class = "blurb">Share Your Favorite Playlists</p>
<p class = "blurb2">Listen to the World's Sounds</p>
<p class = "blurb3">Discover New Tracks</p>
</div>


<div class='musico'>
  <ul>
    <li class='bar1'></li>
    <li class='bar2'></li>
    <li class='bar3'></li>
    <li class='bar4'></li>
    <li class='bar5'></li>
  </ul>
</div>
<div class="empty_space">
<br>
</div>
</body>
