body { background-color: #fff; color: #F9EDB4; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #18D8F0; }
a:visited { color: #18D8F0; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
.home_link {
  font-size: 20px;
  float: left;
  margin-top: 20px;
  margin-left: 40px;
}

.new_link {
  font-size: 20px;
  float: right;
  margin-top: 20px;
  margin-right: 40px;
}

.nav_bar {
  height: 60px;
  color: #fff;
  background-color: rgba(0,0,0,.2);
  border-bottom: 1px solid #adadad;
  font-family: gotham;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.entry {
  margin: 0px auto 50px;
  float: left;
  width: 200px;
}

.image {
  height: 120px;
  width:120px;
  margin: 0px 40px;
}

.image_link:hover {
  background-color: transparent;
}

.page_nav {
  margin: 0px ;
  /*background: green;*/
  /*text_align: center;*/
}

.page_nav_list {

  text-align: center;
}

.page_nav_link {
  display: inline-block;
  margin: 100px;
}

.clearing {
  clear: both;
}
