// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.facebooklogin {
  text-align: center;
}

.signupmaster {
    margin-top: -2em;
    font-size: 16px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 8px;
    background: #1EACC7;
    font-color: white;
    opacity: 1;
}

.facebooklogin {
  // width: 240px;
  text-align: center;

}
  ._4z_f {
    width: 240px;
  }
.loginmaster {
  font-size: 16px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 8px;
  background: black;
  font-color: white;
  opacity: .6;
}

.soundbaseimage {
  background: url(http://i.ytimg.com/vi/Bejcupm7VpU/maxresdefault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.welcome {
  text-align: center;
  font-size: 50px;
  color: #18D8F0;
}

.soundbase {
  font-size: 120px;

}

.blurb {
  font-size: 32.5px;
}

.blurb2 {
  font-size: 32.5px;
}

.blurb3 {
  font-size: 32.5px;
}

.blurbmaster {

  margin-top: 6em;


  color: #18D8F0;
}


h1{
  font:300 50px 'open sans',sans-serif;
  text-align:center;
}
.musico{
  display:block;
  margin:0 auto;
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
  background:#ccc;
  -webkit-box-shadow: 0px 0px 10px #00bfff;
-moz-box-shadow:    0px 0px 10px #00bfff;
box-shadow:         0px 0px 10px #00bfff;
  padding:20px;
  height:60px;
  width:60px;
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
}
ul{
  list-style:none;
  padding:0;
  margin:0;
}
ul li{
  display:block;
  background:#333;
  float:left;
  height:40px;
  width:5px;
  margin:0 3px;
  box-shadow:0 0 1px #333;
}
@keyframes musico1{
  0%{height:30px}
  20%{height:10px}
  40%{height:40px}
  60%{height:30px}
  80%{height:20px}
  100%{height:30px}
}
@keyframes musico2{
  0%{height:20px}
  20%{height:10px}
  40%{height:40px}
  60%{height:20px}
  80%{height:40px}
  100%{height:20px}
}
@keyframes musico3{
  0%{height:50px}
  20%{height:20px}
  40%{height:30px}
  60%{height:40px}
  80%{height:10px}
  100%{height:50px}
}
@keyframes musico4{
  0%{height:10px}
  20%{height:20px}
  40%{height:30px}
  60%{height:10px}
  80%{height:40px}
  100%{height:10px}
}
@keyframes musico5{
  0%{height:10px}
  20%{height:30px}
  40%{height:20px}
  60%{height:30px}
  80%{height:20px}
  100%{height:10px}
}
@-webkit-keyframes musico1{
  0%{height:30px}
  20%{height:10px}
  40%{height:40px}
  60%{height:30px}
  80%{height:20px}
  100%{height:30px}
}
@-webkit-keyframes musico2{
  0%{height:20px}
  20%{height:10px}
  40%{height:40px}
  60%{height:20px}
  80%{height:40px}
  100%{height:20px}
}
@-webkit-keyframes musico3{
  0%{height:50px}
  20%{height:20px}
  40%{height:30px}
  60%{height:40px}
  80%{height:10px}
  100%{height:50px}
}
@-webkit-keyframes musico4{
  0%{height:10px}
  20%{height:20px}
  40%{height:30px}
  60%{height:10px}
  80%{height:40px}
  100%{height:10px}
}
@-webkit-keyframes musico5{
  0%{height:10px}
  20%{height:30px}
  40%{height:20px}
  60%{height:30px}
  80%{height:20px}
  100%{height:10px}
}
.musico ul li:nth-child(1){
  animation: musico1 1s infinite;
-webkit-animation:musico1 1s infinite;
}
.musico ul li:nth-child(2){
  animation: musico2 1s infinite;
-webkit-animation:musico2 1s infinite;
}
.musico ul li:nth-child(3){
  animation: musico3 1s infinite;
-webkit-animation:musico3 1s infinite;
}
.musico ul li:nth-child(4){
  animation: musico4 1s infinite;
-webkit-animation:musico4 1s infinite;
}
.musico ul li:nth-child(5){
  animation: musico5 1s infinite;
-webkit-animation:musico5 1s infinite;
}
